:root {
    --body_margin: 0.5rem;
    --section_margin_x: 0.5rem;
    --section_margin_y: 1.5rem;
    --action_section_padding: 1rem;
    --audio_margin: 0.5rem;

    --darkmode_toggle_width: 56px;
    --darkmode_toggle_padding: 0.5rem;

    --rounding: 1rem;

    --background_step: 5;

    --article_max_width: 1000px;

    --color_white: #FFFFFF;
    --color_black: #222222;

    font-size: 16px;
}

#darkmode_checkbox:checked ~ main {
    --text_color: var(--color_white);
    --background_color: var(--color_black);
}

#darkmode_checkbox:not(:checked) ~ main {
    --text_color: var(--color_black);
    --background_color: var(--color_white);
}

@media (prefers-color-scheme: dark) {
    #darkmode_checkbox:checked ~ main {
        --text_color: var(--color_black);
        --background_color: var(--color_white);
    }
    
    #darkmode_checkbox:not(:checked) ~ main {
        --text_color: var(--color_white);
        --background_color: var(--color_black);
    }
}

main {
    color: var(--text_color);
    background-color: var(--background_color);
    padding-left: var(--body_margin);
    padding-right: var(--body_margin);
}

article {
    max-width: var(--article_max_width);
    margin: 0 auto;
    padding-bottom: var(--section_margin_x);
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color-scheme: light dark;
    color: light-dark(var(--color_black), var(--color_white));
    background-color: light-dark(var(--color_white), var(--color_black));
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label {
    cursor: pointer;
}

#darkmode_checkbox {
    display: none;
}

@media (prefers-color-scheme: dark) {
    #darkmode_checkbox:checked ~ main .darkmode_toggle > #lightmode  {
        display: none;
    }
    
    #darkmode_checkbox:not(:checked) ~ main .darkmode_toggle > #darkmode  {
        display: none;
    }
}

@media (prefers-color-scheme: light) {
    #darkmode_checkbox:checked ~ main .darkmode_toggle > #darkmode  {
        display: none;
    }
    
    #darkmode_checkbox:not(:checked) ~ main .darkmode_toggle > #lightmode  {
        display: none;
    }
}

.darkmode_toggle {
    width: var(--darkmode_toggle_width);
    aspect-ratio: 1;
    border-radius: var(--rounding);
    background-color: hsl(from var(--background_color) h s calc(l - var(--background_step)));
    padding: var(--darkmode_toggle_padding);
}

.darkmode_toggle > img {
    width: 100%;
}

section {
    margin: var(--section_margin_y) var(--section_margin_x);
}

section:last-child {
    margin-bottom: 0;
}

section:nth-of-type(1) {
    margin-top: var(--section_margin_x);
}

#portrait {
    margin: calc(-1 * var(--section_margin_x));
    width: calc(100% + var(--section_margin_x) * 2);
    border-radius: var(--rounding);
}

.img_responsive {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.audio > audio {
    width: 100%;
    margin-bottom: var(--audio_margin);
}

.audio_download {
    text-align: center;
    fill: var(--text_color)
}

.audio_download > p {
    margin: 0;
}

.action_section {
    text-align: center;
    border-radius: var(--rounding);
    background-color: hsl(from var(--background_color) h s calc(l - var(--background_step)));
    padding: var(--action_section_padding);
}

h2 {
    margin: 0; 
}

a {
    text-decoration: none;
    color: var(--text_color);
}

#wikipedia > a {
    display: block;
    border-radius: var(--rounding);
    padding: var(--action_section_padding);
    background-color: hsl(from hsl(from var(--background_color) h s calc(l - var(--background_step))) h s calc(l - var(--background_step)));
    fill: var(--text_color);
}

#wikipedia > a > svg {
    display: block;
    margin: 0 auto;
}













#podcast {
    display: none;
}